{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
Магазин Easy Purchase
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5"
     style="background-color: rgba(70, 70, 70, 0.7); border-radius: 10px; width: 1570px;">
    <div class="row">
        <div class="col-md-2 p-2">
            <h2 class="text-danger text-center fst-italic fw-medium">
                Категории
            </h2>
            {% get_category as categories %}
            <ul class="list-group list-group-flush border border-black" style="border-radius: 10px;">
                {% for category in categories %}
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="{{ category.get_absolute_url }}" class="text-danger fs-5 text-decoration-none">
                        {{ category }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-10 p-2" style="height: 820px;">
            <h2 class="text-danger text-center fst-italic fw-medium">
                Рекомендации
            </h2>
            <div class="d-flex flex-wrap gap-3 mt-4 mb-3">
                {% for items in product %}
                <div class="card bg-dark">
                    <h5 class="text-center">
                        <a href="{{ items.get_absolute_url }}" class="text-danger text-decoration-none">
                            <span class="a">{{ items.title }}</span>
                        </a>
                    </h5>
                    <img src="{{ items.image.url }}" style="width: 305px; height: 200px;" class="card-img">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block carousel %}
{% endblock carousel %}