{% extends 'base.html' %}
{% block title %}
Магазин Easy Purchase
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5"
     style="background-color: rgba(70, 70, 70, 0.7); border-radius: 10px; width: 1570px;">
    <div class="row">
        <div class="col-md-2 p-2">
            <h2 class="text-danger text-center fst-italic fw-medium">
                Категории
            </h2>
            <ul class="list-group list-group-flush border border-black" style="border-radius: 10px;">
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Симулятор</span></a>
                </li>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Аркады</span></a>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Платформеры</span></a>
                </li>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Шутеры</span></a>
                </li>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Файтинги</span></a>
                </li>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Выживание</span></a>
                </li>
                <li class="list-group-item bg-dark border-black text-danger">
                    <a href="#" class="text-danger fs-5 text-decoration-none"><span class="a">Экшены</span></a>
                </li>
            </ul>
        </div>

        <div class="col-lg-10 p-2" style="height: 820px;">
            <h2 class="text-danger text-center fst-italic fw-medium">
                Рекомендации
            </h2>
            <div class="d-flex flex-wrap gap-3 mb-3">
                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Battlefield 1</span></a></h5>
                    <img src="pages/image/Battlefield1/Battlefield 1.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Dark Souls 3</span></a></h5>
                    <img src="pages/image/DarkSouls3/Dark Souls 3.jpeg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Quantum Break</span></a></h5>
                    <img src="pages/image/QuantumBreak/Quantum Break.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                       class="text-danger text-decoration-none"><span class="a">Firewatch</span></a>
                    </h5>
                    <img src="pages/image/Firewatch/Firewatch.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span class="a">Firewatch</span></a>
                    </h5>
                    <img src="pages/image/Firewatch/Firewatch.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Battlefield 1</span></a></h5>
                    <img src="pages/image/Battlefield1/Battlefield 1.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Dark Souls 3</span></a></h5>
                    <img src="pages/image/DarkSouls3/Dark Souls 3.jpeg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Quantum Break</span></a></h5>
                    <img src="pages/image/QuantumBreak/Quantum Break.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Dark Souls 3</span></a></h5>
                    <img src="pages/image/DarkSouls3/Dark Souls 3.jpeg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span class="a">Firewatch</span></a>
                    </h5>
                    <img src="pages/image/Firewatch/Firewatch.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Quantum Break</span></a></h5>
                    <img src="pages/image/QuantumBreak/Quantum Break.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>

                <div class="card bg-dark">
                    <h5 class="text-center"><a href="pages/Battlefield1.html"
                                               class="text-danger text-decoration-none"><span
                            class="a">Battlefield 1</span></a></h5>
                    <img src="pages/image/Battlefield1/Battlefield 1.jpg" style="width: 305px; height: 200px;"
                         class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block carousel %}
{% endblock carousel %}