{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <style>
        .shadows {
            box-shadow: 0px 8px 9px rgb(199, 54, 54);
        }

        .a:hover {
                color: rgb(255, 60, 0);
        }
    </style>
</head>


<body style="background-color: #000;">
<nav class="shadows navbar navbar-expand-lg"
     style="background-color: rgb(139, 0, 0); border-bottom: 3px solid #000;">
    <div class="container-fluid">
        <a class="a navbar-brand fs-4 fw-medium" href="base.html">Easy Purchase</a>
        <div style="height: 40px; width: 0px; color: black; border: 1px solid;"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link text-black fs-5 fst-italic fw-medium"
                       aria-current="page" href="{% url 'home' %}">Главное</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-5 fst-italic fw-medium"
                       aria-current="page" href="{% url 'shop' %}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-5 fst-italic fw-medium"
                       aria-current="page" href="#">Анонсы игр</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-5 fst-italic fw-medium"
                       aria-current="page" href="#">Скидки</a>
                </li>
            </ul>

            <div class="d-flex gap-3 ms-3">
                <a href="#" class="btn fw-medium"
                   style="color: black; background-color: rgb(255, 60, 0);">Войти</a>
                <a href="#" class="btn fw-medium"
                   style="color: black; background-color: rgb(255, 60, 0);">Регистрация</a>
                <a href="#" class="btn fw-medium"
                   style="color: black; background-color: rgb(255, 60, 0);">Выйти</a>
            </div>
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}

{% block carousel %}
{% endblock carousel %}

<div class="container-fluid mt-5" style="background-color: rgb(139, 0, 0); border-bottom: 3px solid #000;">
    <p class="container fs-5 p-2 text-center text-black fst-italic fw-medium">
        © 2023 Easy Purchase. Все права защищены. Все торговые марки являются собственностью
        соответствующих владельцев в Росси и других странах. НДС включён во все цены, где он применим.
        Политика конфиденциальности | Правовая информация | Соглашение подписчика Easy Purchase |
        Возвраты |
        Файлы cookie
    </p>
    <div class="d-flex justify-content-evenly p-2">
        <a href="#" class="fs-5 fst-italic fw-medium text-black text-decoration-none">
            <span class="a">Telegram</span>
        </a>
        <a href="#" class="fs-5 fst-italic fw-medium text-black text-decoration-none">
            <span class="a">Instagram</span>
        </a>
        <a href="#" class="fs-5 fst-italic fw-medium text-black text-decoration-none">
            <span class="a">Facebook</span>
        </a>
        <a href="#" class="fs-5 fst-italic fw-medium text-black text-decoration-none">
            <span class="a">Twitter</span>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>